---
export const prerender = false;

const req = Astro.locals;
const pageTitle = "Schedule - The Kyanet"

import KFooter from "../components/KFooter.astro";
import "../styles/global.css"

//Astro.cookies.set("Balls", String("Testicles lmaooooo"));
//Astro.cookies.delete("Balls");

//console.log(req.schedule);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body style="background-color: #1b1b1b;">
		<h1>Calendar Info:</h1>
		<div class="calendar">
			<p>Sunday: {(typeof req.schedule["Sunday"]?.categories[0] === 'undefined') ? 'Resting' : req.schedule["Sunday"]?.categories[0]}</p>
			<p>Monday: {(typeof req.schedule["Monday"]?.categories[0] === 'undefined') ? 'Resting' : req.schedule["Monday"]?.categories[0]}</p>
			<p>Tuesday: {(typeof req.schedule["Tuesday"]?.categories[0] === 'undefined') ? 'Resting' : req.schedule["Tuesday"]?.categories[0]}</p>
			<p>Wednesday: {(typeof req.schedule["Wednesday"]?.categories[0] === 'undefined') ? 'Resting' : req.schedule["Wednesday"]?.categories[0]}</p>
			<p>Thursday: {(typeof req.schedule["Thursday"]?.categories[0] === 'undefined') ? 'Resting' : req.schedule["Thursday"]?.categories[0]}</p>
			<p>Friday: {(typeof req.schedule["Friday"]?.categories[0] === 'undefined') ? 'Resting' : req.schedule["Friday"]?.categories[0]}</p>
			<p>Saturday: {(typeof req.schedule["Saturday"]?.categories[0] === 'undefined') ? 'Resting' : req.schedule["Saturday"]?.categories[0]}</p>
		</div>
		<p>If images are not loading, please <a href="https://id.twitch.tv/oauth2/authorize?response_type=token&client_id=z4pwosn4a3lyqhm139nw1wx6t5ytn2&redirect_uri=http://localhost:4321/schedule&scope=user%3Aread%3Achat">Connect with Twitch.</a> <a href="/support/twitch-connection">Why am I seeing this?</a></p>
	</body>
	<footer>
		<KFooter />
	</footer>
</html>
