@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/general-sans');

@font-face {
  font-family: multiplexed;
  font-weight: normal;
  font-style: normal;
  src: url(multiplexed.ttf);
}

@font-face {
  src: url(QuantaGroteskPro-BlackItalic.ttf);
  font-family: grotesk;
  font-weight: bold;
  font-style: italic;
}

@font-face {
  src: url(QuantaGroteskPro-Regular.ttf);
  font-family: grotesk;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(QuantaGroteskPro-Light.ttf);
  font-family: grotesk;
  font-weight: light;
  font-style: normal;
}

@font-face {
  src: url(QuantaGroteskPro-LightItalic.ttf);
  font-family: grotesk;
  font-weight: light;
  font-style: italic;
}

.multiplexed{
  font-family: multiplexed;
  text-transform: lowercase;
}

.err-head {
  font-family: 'DM Sans';
  font-weight: 200;
  font-style: italic;
}

.grotesk-head {
  font-family: grotesk;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

.grotesk-head-2 {
  font-family: grotesk;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

.dm-foot {
  font-family: 'DM Sans';
  font-weight: 200;
  letter-spacing: 0.5ch;
  color: whitesmoke;
}

html {
  font-family: sans-serif;
  color: white;
  height: 100dvh;
}
  
body {
  margin: 0;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 100dvh;
}

footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}

* {
  font-family: 'General Sans', sans-serif;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.spacer {
  margin: 25px 0;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  align-self: center;
  position: relative;
}

.header-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.social-con {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  max-width: 80ch;
}

.banner {
  aspect-ratio: 17 / 6;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  background-color: #2b2b2b;
  border: 0.25em solid #2b2b2b;
  border-radius: 13px;
}

.social-card {
  text-align: left;
  padding-left: 15px;
  padding-right: 20px;
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  cursor: pointer;
  transition: all 500ms ease;
  flex:  1 1 50px;
  border-radius: 10px;
}

.social-card:hover {
  background-color: #1b1b1b;
}

.social-card > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  aspect-ratio: 1 / 1;
}

.sc-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendar {
  width: 80ch;
  align-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #2b2b2b;
  overflow: hidden;
  gap: 5px;
}

.cal-entry {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75));
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 0px 25px;
}

.cal-img {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
}

.cal-entry > p {
  font-family: grotesk;
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  text-shadow: 0px 0px 10px black;
}

.cal-entry > span {
  font-family: 'DM Sans';
  font-weight: 300;
  font-size: 2em;
  font-style: italic;
  text-shadow: 0px 0px 10px black;
}

.crisis {
  display: flex;
  align-self: center;
  gap: 5px;
  flex-flow: row wrap;
  justify-content: center;
}

.crisis-help {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px 25px;
  justify-content: space-around;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  min-width: 0;
  flex:  1 1 100px;
  white-space: nowrap;
  width: 100px;
}
