---
const pageTitle = "Kyanoxias Socials"

const identity = {
	name: "Kyanoxia",
	country: "United States",
	nickname: "Kya",
	pronouns: "she/her",
	race: "Human Fox Hybrid",
	discord: "DVvGFXqpqH",
	occupation: "Graphic Designer",

}

import "../styles/global.css"
import KFooter from "../components/KFooter.astro"
---

<html lang="en">
	<head>
        <script src="https://kit.fontawesome.com/6a9ec12e2e.js" crossorigin="anonymous"></script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <meta property="og:site_name" content="The Kyanet" />
		<meta property="og:title" content=`${identity.name}ss Socials'` />
		<meta property="og:description" content=`Want to know where ${identity.name} is?` />
		<meta name="theme-color" content=#A37C44 />
	</head>
	<body>
        <div class="content">
            <div class="social-con">
                <img width=100% class="banner" src="img/Kyanoxia-elegance-logo.png" alt="Elegant Black Gold Kyanoxia Banner"/>
                <div class="socials">
                    <div class="social-card" onclick="location.href='https://kyanoxia.com/join';">
                        <div class="sc-head">
                            <p class="multiplexed">DISCORD</p>
                            <i class="fa-brands fa-discord fa-lg"></i>
                        </div>
                    </div>
                    <div class="social-card" onclick="location.href='https://youtube.com/@kyanoxia';">
                        <div class="sc-head">
                            <p class="multiplexed">YOUTUBE</p>
                            <i class="fa-brands fa-youtube fa-lg"></i>
                        </div>
                    </div>
                    <div class="social-card" onclick="location.href='https://twitch.tv/kyanoxia';">
                        <div class="sc-head">
                            <p class="multiplexed">TWITCH</p>
                            <i class="fa-brands fa-twitch fa-lg"></i>
                        </div>
                    </div>
                    <div class="social-card" onclick="location.href='https://x.com/kyanoxia';">
                        <div class="sc-head">
                            <p class="multiplexed">XITTER</p>
                            <i class="fa-brands fa-x-twitter fa-lg"></i>
                        </div>
                    </div>
                    <div class="social-card" onclick="location.href='https://instagram.com/kyanoxia';">
                        <div class="sc-head">
                            <p class="multiplexed">INSTAGRAM</p>
                            <i class="fa-brands fa-instagram fa-lg"></i>
                        </div>
                    </div>
                    <div class="social-card" onclick="location.href='https://reddit.com/user/kyanoxia';">
                        <div class="sc-head">
                            <p class="multiplexed">REDDIT</p>
                            <i class="fa-brands fa-reddit fa-lg"></i>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
	</body>
    <footer>
        <KFooter />
    </footer>
</html>
