---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import "../styles/index.css";

import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets";

import AVIN from "../components/AVIN.astro";
import Logo from "../../public/svg/Kyanoxia.svg";

const images = import.meta.glob<{ default: ImageMetadata }>('../../public/img/portfolio/render/thumbnails/*.{jpeg,jpg,png,gif}');

const hero = Object.keys(images)[Math.floor(Math.random() * Object.keys(images).length)];

const props = {
	siteName: "The Kyanet",
	title: "Home",
	description: "Art is subjective",
	favicon: "svg/favicon.svg",
	image: "svg/favicon.svg",
	color: "#FFFFFF"
};

const socials = {
	BSKY: "https://bsky.app/profile/did:plc:cocpebhxzqhh2vxsp4ivzdbr",
	YT: "https://youtube.com/@Kyanoxia",
	DSC: "https://kyanoxia.com/join"
}
---
<Layout props={props}>
	<div class="hero jarallax">
		<Image class="heroimage jarallax-img" src={images[hero]()} alt="A blurred gradient"></Image>
		<div class="vstack">
			<Logo fill="#FFFFFF" id="headlogo" />
			<h1 class="grotesk-head-2">Art Made to Feel</h1>
		</div>
	</div>

	<div class="marquee">
		<div class="marquee-carousel">
			{
				Object.entries(Object.keys(images)).map((x) => (
					<a class="marquee-item" href={x[1].replace("/public", "").replace("/thumbnails", "")}><img src={x[1].replace("/public", "")} alt="" /></a>
				))
			}
			{
				Object.entries(Object.keys(images)).map((x) => (
					<a class="marquee-item" href={x[1].replace("/public", "").replace("/thumbnails", "")}><img src={x[1].replace("/public", "")} alt="" /></a>
				))
			}
		</div>
	</div>

	<div class="vstack centerx x-pad read">
		<h2 class="grotesk-head-2">Soul in every piece</h2>
		<sub><AVIN message="NOT ALONE"/></sub>
		<p>
			Having struggled from a young age to represent my emotions in an understandable medium, I turned to art to explain myself.
			Each piece has it's own meaning - one that's neither right nor wrong. That's because I feel emotions shouldn't be described by words, but by feeling itself.
		</p>
	</div>

	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="spacer"></div>

	<div class="vstack centerx x-pad read">
		<h2 class="grotesk-head-2">A place to observe</h2>
		<sub><AVIN message="CONTACT ME"/></sub>
		<p>
			Find me on any of these socials
		</p>
	</div>

	<div class="hstack centerx refuge x-pad read">
		{
			Object.entries(socials).map((x) => (
				<a href={x[1]} class="inline-link">{x[0]}</a>
			))
		}
	</div>

	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="spacer"></div>

	<div class="vstack centerx x-pad read">
		<h2 class="grotesk-head-2">So you require more</h2>
		<sub><AVIN message="KNOW ALL"/></sub>
		<p>
			I see you're interested in my story. Perhaps you would like to check out <a href="/about" class="inline-link">this page</a> then.
		</p>
	</div>

	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="spacer"></div>

	<script is:inline src="./src/pages/scripts/index.js" type="module"/>
</Layout>
