---
export const prerender = false;

const pageTitle = "The Kyanet"

const identity = {
	name: "Kyanoxia Rivera",
	country: "United States",
	nickname: "Kya",
	pronouns: "she/her",
	race: "Human Fox Hybrid",
	discord: "DVvGFXqpqH",
	occupation: "Graphic Designer",

}

import KFooter from "../components/KFooter.astro";
import CalDisplay from "../components/CalDisplay.astro";
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body style="background-color: #1b1b1b;">
		<div class="content" style="display: flex; justify-content: center; align-items: center;">
			<h1 class="grotesk-head-2" style="line-height: 1; font-size: 2.5em; margin-bottom: 0;">{identity.name}</h1>
			<h1 class="grotesk-head" style="font-size: 5em; line-height: 0.75;">{pageTitle}</h1>
		</div>
		<a href="/card" class="dm-foot">COMING SOON</a>
		<CalDisplay />
	</body>
	<footer>
		<KFooter />
	</footer>
</html>
