---
export const prerender = false;

const props = {
	siteName: "The Kyanet",
	title: "Trauma Dumping",
	description: "Trauma dumping is a harmful activity for everyone involved...",
	favicon: "svg/favicon.svg",
	image: "svg/favicon.svg",
	color: "#FFFFFF"
};

import Layout from "../layouts/Layout.astro";
import "../styles/traumadumping.css";
---
<Layout props={props}>
	<div class="vstack center" style="text-align: center; max-width: 80ch;">
		<h1 class="grotesk-head" style="margin-top: 50px;">{props.title}</h1>
		<h2 style="font-weight: 400; color: gray;">Unless otherwise specified, <span style="font-style: italic; text-decoration: underline; text-transform: uppercase;">don't do it!</span></h2>
		<ul style="text-align: left; display: flex; flex-direction: column; gap: 1em; font-weight: 300; max-width: 60ch;">
			<li>Trauma dumping is defined as unloading traumatic experiences on others without warning or invitation.</li>
			<li>It can damage relationships and lead to anxiety, depression, and other mental health conditions.</li>
		</ul>
		<p style="font-weight: 300; color: gray; margin-bottom: 50px; max-width: 60ch;">In short, unless I know you well and it's both clear we are comfortable with each other, I don't want to hear about your problems.</p>
		<p style="text-align: left; line-height: 1.5; text-indent: 4ch;">If you do start trauma dumping on me, in DMs or otherwise, and I do not like it, I am going to tell you. I've come into contact with a couple communities in which nobody talks simply because someone is constantly trauma dumping in community spaces. If you need help, please use the resources at the bottom of this page.</p>
	
		<div class="spacer"></div>

		<div class="crisis" style="margin-bottom: 10px;">
			<a class="crisis-help" href='https://988lifeline.org/'>
				<i class="fa-solid fa-phone"></i>
				<span>Lifeline 988</span>
			</a>
			<a class="crisis-help" href='https://www.crisistextline.org/'>
				<i class="fa-solid fa-message"></i>
				<span>Crisis Chat</span>
			</a>
			<a class="crisis-help" href='https://www.911.gov/'>
				<i class="fa-solid fa-phone"></i>
				<span>911</span>
			</a>
		</div>
	</div>
</Layout>
