---
export const prerender = true;
/*
import ical from 'node-ical'

const webEvents = await ical.fromURL('https://api.twitch.tv/helix/schedule/icalendar?broadcaster_id=617052436');
console.log(webEvents);

for (var k in webEvents){
    if (webEvents.hasOwnProperty(k)) {
        var ev = webEvents[k];
        console.log(ev.dtstamp);
    }
}
*/
---
<div>
    <p id="calendar-data"></p>
</div>
