---
interface Props {
    page?: string,
}
---
<div class="kfooter" style="bottom: 0px; left: 0px; right: 0px; background-color: #1b1b1b; padding: 20px 20px; text-align: left;">
    <sub style="color: #5b5b5b;">Copyright 2024 © Kyanoxia</sub>
</div>
