@import url('https://fonts.cdnfonts.com/css/cascadia-code');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    color: white;
    font-family: 'Cascadia Code', sans-serif;
}

html {
    background-color: #1b1b1b;
    cursor: none;
}

#trailer {
    background-color: white;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

html:hover  #trailer {
    opacity: 1;
}
